# Ignore virtual environments and binaries
venv/
Code/venv/
__pycache__/
*.pyc
*.pyd
*.dll
*.lib
*.so
*.dylib





echo venv/>>.gitignore
echo Code/venv/>>.gitignore
echo *.dll>>.gitignore
echo *.lib>>.gitignore
echo *.pyd>>.gitignore
echo *.pyc>>.gitignore
echo __pycache__/>>.gitignore
